<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add from cache / upload file</title>
</head>
<body>
<div id="cache_file_list">
        {% if resultlist %}
            <ul>
                {% for item in resultlist %}
                    <li>
                        <div>
                            <form id="enlist_{{ item.0 }}" method="post" action="/add_file_item">
                                {% csrf_token %}
                                {% if item.2 == '' %}
                                    <b>{{ item.1 }}</b> ({{ item.3 }})
                                {% else %}
                                    <b>{{ item.1 }} - {{ item.2 }}</b> ({{ item.3 }})
                                {% endif %}
                                <button type="submit" form="enlist_{{ item.0 }}" name="filename" value="{{ item.0 }}">
                                    Add this file
                                </button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <a href="/add">Go Back</a>
</body>
</html>