<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Now Playing (Host)</title>
    {% load static %}
</head>
<body>
    <div id="music_info">
        <div id="cover">

        </div>
        <h1 id="title">Title</h1>
        <h2 id="artist">Artist</h2>
        <h2 id="album">Album</h2>
    </div>
    <div id="skip_area">
        <span id="skip_label" ><b>Votes for Skip</b></span>
        <span id="skip_count">0</span>
        <span>/ {{ skip_threshold }}</span>
    </div>
    <div id="readd_area">
        <span id="readd_label"><b>Votes for Re-add</b></span>
        <span id="readd_count">0</span>
        <span>/ {{ readd_threshold }}</span>
    </div>
    <br>
    <h1>Playlist</h1>
    <h1>How to access jukebox?</h1>
    <h2>Scan following QR code:</h2>
    <img src="{% static 'img/qr.png' %}" alt="QR Code">
    <h2>Or, use following URL</h2>
    <h3><a href="http://{{ address }}:8000">http://{{ address }}:8000</a></h3><br>
</body>
<script>
    let sa_socket = new WebSocket(
        'ws://' + window.location.host + '/ws/skipadd/'
    );
    sa_socket.onopen = function(f) {
        console.info('Opened skip-add socket');
        sa_socket.send(JSON.stringify({
            'fetch': 'request',
        }));
    };
    sa_socket.onclose = function(f) {
        console.error('Skip-add socket closed');
    };
    sa_socket.onmessage = function(f) {
        let msg = JSON.parse(f.data);
        let target = msg['target'];
        if(target === 'skip') {
            let count_elem = document.getElementById('skip_count');
            // let count = Number(count_elem.innerText);
            count_elem.innerText = msg['count'];
        }
        else if(target === 'readd') {
            let count_elem = document.getElementById('readd_count');
            // let count = Number(count_elem.innerText);
            count_elem.innerText = msg['count'];
        }
        else if(target === 'fetch') {
            let scount_elem = document.getElementById('skip_count');
            let rcount_elem = document.getElementById('readd_count');
            scount_elem.innerText = msg['skip'];
            rcount_elem.innerText = msg['readd'];
        }
        else console.error('Invalid target embedded in message');
    };
</script>
</html>