<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Now Playing (Host)</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'js/np_host_skipadd.js'%}"></script>
    <script src="{% static 'js/np_host_music.js' %}"></script>
</head>
<body>
<div>
    <div id=music_info class="card shadow-lg" style="margin: 2em 1em; min-height:calc(100vh - 4em)">
        <div class="card-header">
            <h4>Now Playing</h4>
        </div>
        <div class="card-body">
            <div class="media">
                <img id="cover" src="{% static 'img/default.png' %}" class="mr-3 align-middle" style="max-height: 50vh">
                <div class="media-body align-middle">
                    <h1 id="title" class="card-title display-2">Title</h1>
                    <h4 id="artist" class="card-subtitle text-muted display-4">Artist</h4>
                    <h4 id="album" class="card-subtitle text-muted display-4">Album</h4>
                </div>
            </div>
            <hr class="my-4">
            <div id="player_area">
                <div id="player_dom">
                    <!-- To be replaced by player -->
                </div>
            </div>
            <hr class="my-4">
            <div id="skip_area">
                <span id="skip_label"><b class="card-title">Votes for Skip</b></span>
                <span id="skip_count">0</span>
                <span>/ {{ skip_threshold }}</span>
            </div>
            <div id="readd_area">
                <span id="readd_label"><b class="card-title">Votes for Re-add</b></span>
                <span id="readd_count">0</span>
                <span>/ {{ readd_threshold }}</span>
            </div>
        </div>
    </div>
    <div class="card shadow-lg" style="margin:2em 1em">
        <div class="card-header">
            <h4>How to access Jukebox</h4>
        </div>
        <div class="card-body">
            <h4>Scan following QR code:</h4>
            <img src="{% static 'img/qr.png' %}" alt="QR Code" style="max-width:100%">
            <hr class="my-4">
            <h4>Or, use following URL</h4>
            <h5><a href="http://{{ address }}:8000">http://{{ address }}:8000</a></h5>
        </div>
    </div>
    <div class="modal fade" id="socket_close_alert" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                </div>
                <div class="modal-body">
                    <p>Connection to server has been lost.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.reload()">Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <footer style="text-align: center; background-color: black; padding: 36px 0">
        <p style="font-size:16px; color: white">
            Now Playing - Host View
        </p>
        <p style="font-size:16px; color: white">
            Powered by <a href="https://getbootstrap.com/" target="_blank">BootStrap</a>
        </p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>