<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Now Playing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'js/np_skipadd.js'%}"></script>
    <script src="{% static 'js/np_music.js' %}"></script>
</head>
<body>
    <h1 id="title">Title</h1>
    <h2 id="artist">Artist</h2>
    <h2 id="album">Album</h2>
    <div id="skip_area">
        <button id="btn_skip" class="toggle">Vote to Skip</button>
        <span id="skip_count">0</span>
    </div>
    <div id="readd_area">
        <button id="btn_readd" class="toggle">Vote to Re-add</button>
        <span id="readd_count">0</span>
    </div>
    <br>
    <h1>Playlist</h1>
    <a href="/qrcode">How to access jukebox?</a><br>
    <a href="/add">Add Music to Playlist</a>
</body>
</html>