<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Upload failure</title>
</head>
<body>
    <div class="jumbotron shadow-lg" style="margin:2em 1em">
        <div class="text-center">
            <h3>Your file failed to upload..</h3>
            <p> {{ message }} </p>
        </div>
        <hr class="my-4">
        <h4>Try uploading different file here:</h4>
        <p>
            <span class="badge badge-danger">
                <i class="fas fa-exclamation-triangle"></i>
                Jukebox currently only accepts mp3 files.
            </span>
        </p>
        <form id="upload_file" method="post" action="/add_file_item" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="musicfile" accept="audio/mp3" class="form-control-file" required>
            <input type="hidden" name="reqtype" value="upload">
            <div style="text-align: center; margin-top: 2em">
                <input type="submit" value="Upload" class="btn btn-primary">
            </div>
        </form>
        <hr class="my-4">
        <h4>Or, go back and choose from music cache.</h4>
        <div style="text-align: center;margin-top: 2em">
            <a href="/add_file" class="btn btn-secondary">Go Back</a>
        </div>
    </div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>